doctype html
html
    head
        title Tank Overflow
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1"
            )
        link(rel='stylesheet'
            href="{{ url_for('static', filename='css/main.css') }}"
            async
            )
        link(rel="stylesheet" 
        href="https://code.getmdl.io/1.3.0/material.blue-green.min.css"
            )
        link(rel='manifest' href='/manifest.json')
        link( rel="stylesheet" 
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
          )
        script(src="https://code.getmdl.io/1.3.0/material.min.js")
    body
      div.mdl-layout.mdl-js-layout
        #header
        block content 
        script(
            type="text/javascript"
            src = "{{ url_for('static', filename='script/bundle.js') }}"
            )
        script(
          type="text/javascript"
          src="{{ url_for('static', filename='script/configs.js')}}"
          )
        
          
          
        
