doctype html
html
    head
        title Tank Overflow
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1"
            )
        link(
            rel='stylesheet'
            href="{{ url_for('static', filename='css/main.css') }}"
            async
            )
    body
        block content 
        script(
            type="text/javascript"
            src = "{{ url_for('static', filename='script/bundle.js') }}"
            )
            
          
          
        
