extends main

block content
  | {% if type == 'new' %}
  form(action = '#', method = "post")
    h2 Title
    input(
      type = "text"
      name = "title"
      required
      )
    h2 Description
    input(
      type = "text"
      name = "des"
      required
      )
    h2 Tags
    input(
      type="text"
      name = "tag"
      )
    br
    br
    input(
      type="submit"
      )
  | {% endif %}
  
  | {% if type == 'view' %}
  h2 View
  p {{ post['title'] }}
  h2 Description
  p {{ post['description'] }}
  | {% endif %}

  | {% if type == 'edit' %}
  h1 Update
  form(action = '#', method = "post")
    h2 Enter title 
    input(
          type="text" 
          name="title"
          value = "{{ post['title'] }}"
        )
    h2 Enter Description
    input(
          type="text" 
          name="des" 
          value = "{{ post['description'] }}"
        )
    input(
          type="submit"
        )
  | {% endif %}

  | {% if type == 'delete' %}
  h1 Delete
  form(action="#", method ="post")
    h2 Are you sure you want to delete the post with title {{ post['title'] }} ?
    input(type="text" name="bool" value ="NO")
    input(type="submit")
  | {% endif %}
  
